.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background: #000;
  box-sizing: border-box;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.save-button {
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.row {
  display: grid;
  gap: 1px;
}

.cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 6px;
  background: #fff;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.header {
  font-weight: bold;
  background: #000;
  color: #027229;
}

.time-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.standard {
  color: grey;
  font-size: 12px;
  margin-right: 4px;
  min-width: 35px;
  text-align: left;
}

.time-input {
  width: 60px;
  text-align: center;
}

.difference {
  font-size: 12px;
  margin-left: 4px;
  min-width: 35px;
  text-align: right;
}

.cell.avg {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}