
.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;          
  min-height: 100vh;
  background: #000000;
  box-sizing: border-box;
}

.sheet {
  display: grid;
  width: 100%;
  grid-template-columns:
    1fr
    1fr
    1fr
    1.2fr
    0.8fr
    0.8fr
    0.8fr
    0.8fr;
}

.row {
  display: contents;
  grid-template-columns: 150px 150px 150px 100px 100px 100px;
  gap: 1px;
}

.cell {
  min-width: 0;
  text-align: center;
  border: 1px solid #ccc;
  padding: 6px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;

  width: 100%;
  box-sizing: border-box;
  text-align-last: center;  
  text-align: center;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media (max-width: 768px) {
  .sheet {
    min-width: 800px;
  }
}

.header {
  font-weight: bold;
  background: #000;
  color: #027229;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.button-container button {
  padding: 5px 10px;
  font-size: 14px;
}
.time-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.standard {
  color: rgb(193, 181, 181);
  font-size: 12px;
  margin-right: 4px;
  min-width: 35px;
  text-align: left;
}

.time-input {
  width: 60px;
  text-align: center;
}

.difference {
  font-size: 12px;
  margin-left: 4px;
  min-width: 35px;
  text-align: right;
}