.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  background: #f0f0f0;
  box-sizing: border-box;
}

.sheet {
  display: grid;
  grid-template-columns: repeat(8, auto); /* how many columns */
  gap: 1px;
  background: #bbb;
  padding: 2px;
  border-radius: 6px;
  width: max-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.row {
  display: contents;
  grid-template-columns: 150px 150px 150px 100px 100px 100px;
  gap: 1px;
}

.cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 6px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;

  width: 100%;
  box-sizing: border-box;
  text-align-last: center;  
  text-align: center;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header {
  font-weight: bold;
  background: #000;
  color: #027229;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.button-container button {
  padding: 5px 10px;
  font-size: 14px;
}
.time-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.standard {
  color: rgb(193, 181, 181);
  font-size: 12px;
  margin-right: 4px;
  min-width: 35px;
  text-align: left;
}

.time-input {
  width: 60px;
  text-align: center;
}

.difference {
  font-size: 12px;
  margin-left: 4px;
  min-width: 35px;
  text-align: right;
}
